<div class="ui container" *ngIf="showLoader">
    <div class="ui tweleve wide column mb-20">
        <app-loader></app-loader>
    </div>
</div>

<div class="text-capitalize fs-0-785 line-height-1-3 sb-pageSection-document py-5 grid mt-10 ui container" *ngIf="!showLoader" (click)="navigateBack()">
    <button class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn">
        <i class="icon-svg icon-svg--xxs icon-back mr-4">
                <svg class="icon icon-svg--primary">
                        <use xlink:href="assets/images/sprite.svg#arrow-long-left"></use>
                </svg>
            </i>{{resourceService.frmelmnts.btn.back}}
    </button>
    <div class="d-flex chapterlist-header py-10 w-100 flex-jc-space-between px-0 flex-jc-space-between">
        <div>
            <div class="d-flex flex-ai-center fs-1">
                <label class="d-block font-weight-bold mb-0 fs-0-92">{{board}}</label>
                <span class="dot-separator"></span>
                <label class="d-block font-weight-bold mb-0 fs-0-92">{{medium}}</label>
                <span class="dot-separator"></span>
                <label class="d-block font-weight-bold mb-0 fs-0-92">{{gradeLevel}}</label>
                <span class="dot-separator"></span>
                <label class="d-block font-weight-bold mb-0 fs-0-92">{{subject}}</label>
            </div>
            <div class="d-flex flex-ai-center pt-15">
                <div class="sb-color-primary d-inline-block pr-10 br-2"><span class="fs-1-286 font-weight-bold pr-10">{{contentCount}}</span>{{resourceService.frmelmnts.lbl.totalContributed}}</div>
                <!-- <div class="sb-color-success d-inline-block px-10 br-2"><span class="fs-1-286 font-weight-bold pr-10">2</span>{{resourceService.frmelmnts.lbl.publishedOnDIKSHA}}</div>
                <div class="sb-color-error d-inline-block px-10"><span class="fs-1-286 font-weight-bold pr-10">5</span>{{resourceService.frmelmnts.lbl.notPublishedOnDIKSHA}}</div> -->
            </div>
        </div>
    </div>
</div>
      
<div class="sb-pageSection sb-bg-color-white my-24 pb-24" *ngIf="!showLoader">
    <div class="ui container">
        <div class="d-flex flex-ai-center flex-jc-space-between">
            <div class="sb-pageSection-header mb-0 py-24">
                <h4 class="sb-pageSection-title">
                    <span>{{resourceService.frmelmnts.lbl.myContent}}</span>
                </h4>
                <span class="sb-pagSection-count sb-label sb-label-x sb-label-warning">{{contentCount}}</span>
            </div>
        </div>
        <div class="sb-pageSection-content" *ngIf="!showLoader">
            <div class="sb-table-responsive">
                <table class="sb-table sb-table-striped sb-table-sortable">
                    <thead class="sb-table-header sb-table-thead-gray">
                        <tr>
                            <th class="cursor-pointer sb-sorting" (click)="sortContentList('name')">{{resourceService.frmelmnts.lbl.title}} &nbsp;&nbsp;
                                <i class="fa fa-sort" aria-hidden="true" *ngIf="sortColumn != 'name' "></i>
                                <span  *ngIf="sortColumn == 'name'" class="d-inline-block">
                                    <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                                    <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                                </span>
                            </th>
                            <th class="cursor-pointer sb-sorting" (click)="sortContentList('contentStatus')">{{resourceService.frmelmnts.lbl.status}} &nbsp;&nbsp;
                                <i class="fa fa-sort" aria-hidden="true" *ngIf="sortColumn != 'contentStatus' "></i>
                                <span  *ngIf="sortColumn == 'contentStatus'" class="d-inline-block">
                                    <i class="fa fa-sort-asc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'asc'}"></i>
                                    <i class="fa fa-sort-desc" aria-hidden="true" [ngClass]="{'sb-color-gray-100':direction == 'desc'}"></i>
                                </span>
                            </th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="sb-table-body w-100 o-y-auto max-height">
                        <tr *ngFor = "let row of contributorContents">
                            <td>
                            {{row['name']}}
                            </td>
                            <td>
                                <div>
                                    <div *ngIf="(row['contentStatus'] == 'published')" class="sb-color-success">
                                    {{row['contentStatus'] | titlecase}}
                                    </div>
                                    <div *ngIf="(row['contentStatus'] == 'not published')" class="sb-color-error">
                                        {{row['contentStatus'] | titlecase}}
                                    </div>
                                </div>
                            </td>
                            
                            <td class="text-center"><button type="button" (click)="handlerContentPreview(row)"  class="sb-btn sb-btn-normal sb-btn-outline-primary">open</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="contentCount > 0 && pager.totalPages > 1 && !showLoader" class="sb-pagination-container flex-jc-flex-end pt-16">
            <div class="sb-pagination">
                <a class="sb-item" [ngClass]="{disabled:pager.currentPage===1 }" (click)="NavigateToPage(1)"
                >First</a>
                <a [ngClass]="{disabled:pager.currentPage===1 }" class="sb-item" (click)="NavigateToPage(pager.currentPage - 1)" 
                >Previous</a>
                <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" (click)="NavigateToPage(page)" class="sb-item"
                >{{page}}</a>
                <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="NavigateToPage(pager.currentPage + 1)"  class="sb-item"
                >Next</a>
                <a [ngClass]="{disabled:pager.currentPage=== pager.totalPages}" (click)="NavigateToPage(pager.totalPages)"  class="sb-item"
                >Last</a>
            </div>
        </div>
        <!-- <div *ngIf="showPreview">
            <app-content-preview [myname]="name"></app-content-preview>
        </div> -->
    </div>
</div>
